#titulo{
    color:#FF7F24
}
#subtitulo{
    color: #F4A460;
}
h1{
    background-color: #F5DEB3;
}
.fundo{
    background-color: #f0fff0;
}
p{
    color:#FDF5E6;
}
#caixa{
    background-color: #4682b4;
}